[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AHMbook"]
	path = AHMbook
	url = https://github.com/ecoverser/ahmbook
[submodule "spAbundance"]
	path = spAbundance
	url = https://github.com/ecoverser/spabundance
[submodule "spOccupancy"]
	path = spOccupancy
	url = https://github.com/ecoverser/spoccupancy
[submodule "ubms"]
	path = ubms
	url = https://github.com/ecoverser/ubms
[submodule "unmarked"]
	path = unmarked
	url = https://github.com/ecoverser/unmarked
